@import './base.css';
@font-face {
  font-family: 'Pangolin';
  src: url('./pangolin.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Slackey';
  src: url('./Slackey.woff2') format('woff2');
  font-weight: normal;
}
@font-face {
  font-family: 'Luckiest Guy';
  src: url('./luckiestguy.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

html,
body {
  font-family: "Pangolin", "Comic Sans MS", sans-serif;
  font-size: 16px;
  background-color: var(--background);
  color: var(--forground);
  line-height: 2;
  min-height: 100vh;
}
#pagetop {
  background-color:black;
}
body {
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  background-image: url('./wavy-lines.svg');
  background-size: cover;
  user-select: none;
}

code {
  font-weight: 600;
  padding: 3px 5px;
  border-radius: 2px;
  background-color: var(--color-background-mute);
  font-family:
    ui-monospace,
    SFMono-Regular,
    SF Mono,
    Menlo,
    Consolas,
    Liberation Mono,
    monospace;
  font-size: 85%;
}

#root {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-bottom: 80px;
}

@media (max-width: 720px) {
  .text {
    font-size: 20px;
  }
}

@media (max-width: 620px) {
  .versions {
    display: none;
  }
}

@media (max-width: 350px) {
  .tip,
  .actions {
    display: none;
  }
}
