.editor-content {

  p {font-family: "Pangolin", "Comic Sans MS";}
  a {
    font-family: 'Slackey';
    color: green.500;
    &:hover {
      color: orange.600;  
    }
  }
  h1, h2, h3, h4, h5, h6 {
    font-family: 'Luckiest Guy', sans-serif;
    text-shadow: 2px 2px 5px black;
    font-weight: normal;
  }
  h1 {
    font-size: 2rem;
  }
  h2 {
    font-size: 1.5rem;
  }
  h3 {
    font-size: 1.25rem;
  }
  h4 {
    font-size: 1rem;
  }
  h5 {
    font-size: 0.875rem;
  }
  h6 {
    font-size: 0.75rem;
  }
}